{
  "env": {
    "browser": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "extends": ["eslint: recommended"],
  "rules": {
    "strict": ["error", "never"]
    //     "valid-typeof": "error",
    //     "no-unsafe-negation": "error",
    //     "no-unused-vars": "error",
    //     "no-unexpected-multiline": "error",
    //     "no-undef": "error"
  }
}
